.result {
    border:3px!important;
    border-color: hsl(0, 0%, 21%)!important;
}

#bookshelfbg {
    background-image: url("../images/Bookshelves-Empty.png")!important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.library-book{
    min-height: 192px;
    max-width: 128px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border:solid

}
.center{
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}
.bulma-overlay-mixin{
    @include overlay(1.5rem);
    padding: -2em;
}

@media screen and (min-width: 1024px) {
    #main-content {
        min-height:25vh;
        display:flex!important;
        flex-wrap:wrap!important;
        align-content:space-around!important;
    }

    #main-content h1, #main-content p, #main-content div {
        width:100%!important;
    }

}