.result {
    border:3px!important;
    border-color: hsl(0, 0%, 21%)!important;
}

#bookshelfbg {
    background-image: url("../images/Bookshelves-Empty.png")!important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.library-book{
    height: 96px !important;
    width: 64px !important;
    font-size: larger !important;
    font-weight: 900;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border:solid !important;
    text-align: center !important;
    align-content: middle !important;
    margin-bottom: 13% !important;
    margin-top:0px !important;


}
#bookshelf{
    height: 20% !important;
    width: 75% !important;
    display: flex !important;
    flex-wrap:wrap !important;
    border: solid;
    margin-left: 15% !important;
    padding-left: 5%;
    padding-top: 4%;
    padding-right: 0px !important;


}
.center{
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

@media screen and (min-width: 1024px) {
    #main-content {
        min-height:25vh;
        display:flex!important;
        flex-wrap:wrap!important;
        align-content:space-around!important;
    }

    #main-content h1, #main-content p, #main-content div {
        width:100%!important;
    }

}
@media screen and (max-width: 766px){
    .library-book {
        margin-bottom: 5% !important;
    }
}
@media screen and (max-width: 422px){
    .library-book {
        margin-bottom: 12% !important;
    }
}
@media screen and (max-width: 422px){
    .library-book {
        margin-bottom: 20% !important;
    }
}